*{
    padding: 0 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    color: white;
    background-color: #1f2937;
}

.headerlogo{
    color: #f9faf8;
    font-size: 24px;
}

.headertop {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
a{
    text-decoration: none;
    color: white
}

.title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    max-width: 444px;
}

.titlesub{
    font-size: 18px;
    color: #e5e7eb;
    max-width: 444px;
}

.headerbody{
    display: flex;
    padding: 100px;
    justify-content: space-around;

}
.hbright{
    max-height: 200px;
}
img{
    max-height: 200px;
    margin-left: 44px;
}


button{
    background-color: #3882f6;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
    border: none;
}

.sec2title{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
   display: flex;
   justify-content: center;
   
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    padding-bottom: 20px;
    align-items: center;
    

}




.b1container {
    border: 5px solid lightblue;
    width: 150px;
    height: 150px;
}

.b2container{
    border: 5px solid lightblue;
    width: 150px;
    height: 150px;
}

.b3container{
    border: 5px solid lightblue;
    width: 150px;
    height: 150px;
}

.b4container{
    border: 5px solid lightblue;
    width: 150px;
    height: 150px;
}

.boxinfo1 {
    max-width: 150px;
    color: darkgray;
}
.boxinfo2{
    max-width: 150px;
   color: darkgray;
}

.boxinfo3{
    max-width: 150px;
    color: darkgray;
}


.boxinfo4{
max-width: 150px;
color: darkgray;
}

.section3 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
   
  
    
}

.secinfo3{
    font-size: 28px;
     font-family: 'light italic', sans-serif;
     color: #1f2937;
     padding: 50px;
     max-width: 700px;
}

.credits {
    font-size: 28px;
     font-family: 'light italic', sans-serif;
     color: #1f2937;
     font-weight: 600;
     align-self: flex-end;
     padding-bottom: 30px;
     

}


     
     
     






    





