*{
    padding: 0 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    color: white;
    background-color: #1f2937;
}

.headerlogo{
    color: #f9faf8;
    font-size: 24px;
}

.headertop {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
a{
    text-decoration: none;
    color: white
}

.title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    max-width: 444px;
}

.titlesub{
    font-size: 18px;
    color: #e5e7eb;
    max-width: 444px;
}

.headerbody{
    display: flex;
    padding: 100px;
    justify-content: space-around;

}
.hbright{
    max-height: 200px;
}
img{
    max-height: 200px;
    margin-left: 44px;
}


button{
    background-color: #3882f6;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
    border: none;
}

.sec2title{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
   display: flex;
   justify-content: center;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
    
}




.b1container {
    border: 5px solid lightblue;
    width: 100px;
    height: 100px;
}

.b2container{
    border: 5px solid lightblue;
    width: 100px;
    height: 100px;
}

.b3container{
    border: 5px solid lightblue;
    width: 100px;
    height: 100px;
}

.b4container{
    border: 5px solid lightblue;
    width: 100px;
    height: 100px;
}










    





